@import "./reset.scss";
html {
  font-size: 10px;
}
.conteudo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  table {
    width: 80%;

    th {
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(45, 88, 75);
      color: rgb(255, 255, 255);
      padding: 8px;
    }

    tr:hover td {
      background-color: rgb(211, 211, 211);
    }
    tr.selecionado td {
      background-color: rgb(100, 34, 43);
    }
    td {
      text-align: center;
      vertical-align: middle;
      background-color: rgb(236, 236, 236);
      cursor: pointer;
      padding: 10px;
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  .modalContent {
    margin: 0 auto;
    margin-top: 10%;
    max-width: 600px;
    background-color: rgb(211, 209, 209);
    font-size: 2.8rem;
    padding: 8px;
    box-shadow: 0 0 2px #fff;

    .modalHeader {
      display: flex;
      justify-content: flex-end;
      right: 0;
      background-color: rgb(211, 209, 209); //mesmo do fundo
      .btnFechar {
        font-size: 3.5rem;
        border: none;
        cursor: pointer;
        background-color: rgb(211, 209, 209);
        color: rgb(104, 104, 104);
      }
      .btnFechar:hover {
        color: rgb(165, 165, 165);
      }
    }

    .modalBody {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      padding-top: 0;
      padding-bottom: 25px;

      img {
        border-radius: 50%;
      }
      .informacaoUsuario {
        margin-left: 20px;
      }
    }
  }
}
